<nav class="d-flex justify-content-between" [ngClass]="{ noScroll: showMenu }">
  <img
    class="menuIcon"
    src="../../assets/img/code.png"
    alt="code"
    appColorToggle />
  <img
    *ngIf="isMobile"
    class="themeSwitch"
    src="../../assets/icons/light.svg"
    alt="menu"
    (click)="toggleTheme()"
    appColorToggle />
  <div class="menu-icon" (click)="openMenu($event)">
    <img
      class="menuIcon"
      src="../../assets/icons/menu.svg"
      alt="menu"
      appColorToggle />
  </div>
  <div *ngIf="!isMobile" class="d-flex">
    <ul class="menu-items" [ngClass]="{ hidden: isMobile }">
      <li><a href="/home">Home</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/cards">Cards</a></li>
    </ul>
    <img
      *ngIf="!isMobile"
      class="themeSwitch"
      src="../../assets/icons/light.svg"
      alt="menu"
      (click)="toggleTheme()"
      appColorToggle />
  </div>
  <div
    class="fullscreen-menu animate__animated animate__fadeIn"
    id="fullscreenDiv"
    *ngIf="showMenu"
    (click)="openMenu($event)"
    (touchmove)="disableScroll($event)"
    [ngClass]="{ show: showMenu }">
    <div class="closeIconContainer">
      <img src="../../assets/icons/close.svg" alt="menu" appColorToggle />
    </div>
    <ul class="fullscreen-menu-items">
      <li><a (click)="goToRoute('/home')">Home</a></li>
      <li><a (click)="goToRoute('/details')">Details</a></li>
      <li><a (click)="goToRoute('/search')">Search</a></li>
      <li><a (click)="goToRoute('/cards')">Cards</a></li>
    </ul>
  </div>
</nav>
